* {
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --background-main-color: #221f3b;
    --background-second-color: #6f4a8e;
    --main-color: #ebebeb;
    --background-transperent: rgba(23, 9, 71, 0.5);
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
}

#home {
    height: 100vh;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

ul {
    list-style: none;
}

header {
    background: url('/cats/cat-glasses-space.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    color: var(--main-color);
    font-family: sans-serif;
    overflow: hidden
    
}

.flex-box {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

#navbar {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
#navbar h1 {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar a {
    font-size: 1.2rem;
    padding: 5px;
    margin: 0 5px;
}

#navbar .fas.fa-cat {
    transition: all 1s ease-in-out;
    font-size: 2rem;
    padding: 0.5rem;
}
.fas.fa-cat:hover {
    transform: rotateY(360deg);

}

.home__welcome {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.home__welcome h1{
    font-size: 6rem;
    font-family: 'Courier New', Courier, monospace;
    margin: 0.8rem;
    text-shadow: 0.5rem 0.5rem 0.5rem var(--background-main-color);
}

.home__welcome1 {
    transform: translateX(-1800px);
    animation: welcome1 2s ease-in forwards;
    
}
.home__welcome2 {
    transform: translateX(1800px);
    animation: welcome2 2s ease-in forwards;
    animation-delay: 0.5s;
    
}

@keyframes welcome1 {
    to {
        transform: translateX(0);
        
    }
}
@keyframes welcome2 {
    to {
        transform: translateX(0);
        font-size: 6rem;
    }
}

/************************** page 2 ******************/

#pg-2 {
    height: 100vh;
    display: flex;
}

.container1 {
    background-color: var(--background-main-color);
    height: 100%;
    width: 100%;
    border: 1.5rem solid rgb(48, 35, 48);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1 > div {
    height: 100%;
    width: 50%;
    border: 2px solid var(--main-color);
}


.container1 img {
    width: 100%;
    height: 100%;
    position: relative;
}

.left::after{
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--background-transperent);
    position: absolute;
    left: 0;
    bottom: -100vh;
    
}

.cat-bread {
    display: flex;
    background-color:black;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    flex-wrap: wrap;
}

.cat-bread .cat-bread__card{
    background-color: transparent;
    height: 30% ;
    width: 30%; 

}

.cat-bread .cat-bread__card .cat-bread__card__inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.8s;
    transform-style: preserve-3d;
}

.cat-bread__card:hover .cat-bread__card__inner {
    transform: rotateY(180deg);
}

.cat-bread__card__front,
.cat-bread__card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
   
}


.cat-bread__card__back {
    background-color: var(--background-second-color);
    color:var(--main-color);
    font-size: 2rem;
    border-radius: 10px;
    transform: rotateY(180deg);
}

.cat-bread__card img {
    width: 100%;
    height:100%;
    padding: 0;
    margin: 0;
    object-fit: cover;
    border: 2px solid var(--background-second-color);
    border-radius: 10px;
}


/*** mobile responsive ****/
@media(max-width: 500px) {
    #navbar {
        background-color: var(--background-main-color);
        color: var(--main-color);
    } 
    #navbar .flex-box {
        display: none;
    }
    .home__welcome h1 {
        font-size: 2.5rem;
    }
    .container1 {
        flex-direction: column;
    }
    .container1 > div {
        height: 50%;
        width: 100%;
    }
    .cat-bread__card__back {
        font-size: 1rem;
    }
}

/*** laptop responsive ****/
@media (min-width: 501px) and (max-width:1000px) {
    .home__welcome h1 {
        font-size: 3.5rem;
    }
    #pg-2 {
        justify-content: center;
        background-color: var(--background-main-color);
    }
    .container1 {
        flex-direction: column;
        max-width: 530px;
    }
    .container1 > div {
        height: 50%;
        width: 100%;
    }
    .cat-bread__card__back {
        font-size: 1rem;
    } 
}